#todoist-mic-recorder {
    position: fixed; 
    bottom: 0px; 
    right: 0px;
    width: 75px;
    background-color: rgba(51, 51, 51, 0.5); /* Adjusted for transparency */
    border: 1px solid #555;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    padding: 15px;
    z-index: 10000;
    font-family: Arial, sans-serif;
    text-align: center;
    box-sizing: border-box;
    color: transparent; /* Text color made transparent by default */
    cursor: grab;
    max-height: 110px;
    &:hover {
      background-color: rgba(51, 51, 51, 1); /* Full opacity on hover */
      color: #ddd; /* Text color visible on hover */
    }
}
/* Style for minimized mode */

#todoist-mic-recorder.forced-open:hover {
    position: fixed; 
    /* bottom: 0px; 
    right: 0px;
    width: 75px;
    /* background-color: rgba(51, 51, 51, 0.5); Adjusted for transparency */
    border: 1px solid #555;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 1);
    padding: 15px;
    z-index: 10000;
    font-family: Arial, sans-serif;
    text-align: center;
    box-sizing: border-box;
    color: transparent; /* Text color made transparent by default */
    cursor: grab;
    max-height: 110px;
  }

#todoist-mic-recorder:not(:hover) #status,
#todoist-mic-recorder:not(:hover) #notification-container {
  display: none;
}

#todoist-mic-recorder.forced-open #status,
#todoist-mic-recorder.forced-open #recButton,
#todoist-mic-recorder.forced-open #notification-container {
  display: block !important;
}

/* The default rule hides elements when not hovered */
#todoist-mic-recorder:not(:hover) #status,
#todoist-mic-recorder:not(:hover) #recButton,
#todoist-mic-recorder:not(:hover) #expand-btn,
#todoist-mic-recorder:not(:hover) #notification-container {
  display: none;
}


#expand-btn:hover {
  background-color: #555;
  border-color: #666;
}
  
#recButton {
    width: 35px;
    height: 35px;
    font-size: 0;
    background-color: rgba(157, 2, 8, 0.5); /* Made transparent for default state */
    border: 0;
    border-radius: 50%;
    margin: 10px auto;
    outline: none;
    cursor: pointer;
    display: block;
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
    opacity: 0.3;
}
#recButton:hover {
    background-color: rgba(157, 2, 8, 1); /* Becomes more red on hover */
    opacity: 1;
}

#recButton.notRec {
    background-color: #9d0208; /* Consistent with the dark theme */
}

#recButton.Rec {
    background-color: #dc2f02; /* Brighter red for recording to stand out */
    animation-name: pulse;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes pulse {
    0% {
        box-shadow: 0px 0px 5px 0px rgba(220, 47, 2, 0.3);
    }
    65% {
        box-shadow: 0px 0px 5px 13px rgba(220, 47, 2, 0.3);
    }
    90% {
        box-shadow: 0px 0px 5px 13px rgba(220, 47, 2, 0);
    }
}

#status {
    margin-top: 10px;
    font-size: 14px;
    color: #aaa; /* Lighter text color for dark theme */
    text-align: center;
}



#close-audio {
    background-color: #444; /* Darker background for button */
    color: #ccc; /* Light text color for button */
    border: 1px solid #666; /* Darker border for button */
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 12px;
    margin-top: 10px;
    display: inline-block;
    transition: background-color 0.3s ease;
}

#close-audio:hover {
    background-color: #555; /* Slightly lighter background on hover for contrast */
    color: #fff; /* White text on hover for better visibility */
}
